<header>
 <nav class="navbar navbar-default">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navheader" aria-expanded="false">
          <span class="sr-only">Toggle</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
       </button>
    </div>
    <div class="collapse navbar-collapse" id="navheader">
       <ul class="nav navbar-nav">
          <li style="border-right: solid gray 2px;"><a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          <li style="border-right: solid gray 2px; margin-left: 5px;"><a class="navbar-brand" href="#"><i class="glyphicon glyphicon-user"></i> About Me <span class="sr-only">(current)</span></a></li>
          <li style="border-right: solid gray 2px; margin-left: 5px;"><a class="navbar-brand" href="/webprofile"><i class="glyphicon glyphicon-book"></i> Web Profile</a></li>
          <li style="margin-left: 5px;"><a class="navbar-brand" href="/whatsmymutt"><i class="glyphicon glyphicon-phone"></i> Check Out My New App</a></li>
       </ul>
     </div>
   </div>
 </nav>
</header>
