<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
    <h1><%= title %></h1>
    <% include partials/template/header.ejs %>
    <div id="appIcon">
      <img id="dog" style="display: inline;" src="images/dog-small-pet-silhouette.jpg"> 
      <div id="download" style="display: inline;">
        <h3>What's My Mutt?</h3>
        <input type="button" value="Download Now">
      </div>
    </div>
    <div id="expics">
      <img id="dog" style="display: inline; width: 37%;" src="images/homepage.png"> 
      <img id="dog" style="display: inline; width: 37%;" src="images/example1.png"> 
      <img id="dog" style="display: inline; width: 37%;" src="images/example2.png"> 
      <img id="dog" style="display: inline; width: 37%;" src="images/people.png"> 
      <img id="dog" style="display: inline; width: 37%;" src="images/penguin.png">
    </div> 
  </body>
</html>
